@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");





* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-inline: 0;
}



.add-film,
.add-film * {
    background-color: gray !important;
    position: relative;
}


.add-film-icon {
    color: white !important;
    max-width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.delete-button {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */

    width: 30px;
    height: 30px;
    background-color: var(--black);
    color: var(--red);
    
    border: white 1px solid;
    cursor: pointer;

    text-align: center;
    vertical-align: top;

    border-radius: 50%;
    font-size: 10px !important; /* Adjusted font size */
}

.delete-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10px;
}