iframe {
    border: none;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.container {
    padding: 100px 100px;
    display: block !important;
}

.row {
    margin: 50px 0;
    
}
.col, .bcol {
    display: inline-block;
    vertical-align: top; /* Add this line */
}

.bcol {
    width: fit-content;
}

.col {
    margin-left: 20px;
    width: calc(100% - 420px);
}

.banner {
    width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.Titolo {
    font-size: 2em;
    margin: 20px 0;
}